body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ""; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  blr: expression(this.onFocus=this.blur());
  cursor: pointer; }

a:active {
  outline: 0;
  opacity: 0.5; }

a:hover {
  outline: 0;
  opacity: 0.9;
  filter: alpha(opacity=90); }

input,
textarea,
select {
  *font-size: 100%; }

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

.public_top_full_bg {
  overflow: hidden; }

p {
  text-align: justify; }

body {
  font-size: 16px;
  color: #fff;
  position: relative;
  overflow: hidden;
  font-family: "Microsoft YaHei";
  width: 850px;
  height: 480px;
  background: url("../img/bg.jpg") no-repeat; }

html,
body {
  width: 850px;
  height: 480px;
  border-top: 0px solid transparent; }

.clearfix:after {
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

.clearfix {
  zoom: 1; }

.hide {
  display: none !important; }

.show {
  display: block !important;
  z-index: 999999; }

.header h1 {
  display: none; }

.page {
  text-align: center;
  color: #c09875;
  font-size: 12px;
  margin-top: 5px; }
  .page a {
    color: #c09875; }
  .page span {
    color: #ffe552; }

.tc {
  position: fixed;
  width: 850px;
  height: 480px;
  top: 0;
  left: 0;
  display: none; }
  .tc .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    filter: Alpha(Opacity=80); }
  .tc .close {
    position: absolute;
    background: url("../img/close.png?__sprite");
    width: 20px;
    height: 20px;
    top: 15px;
    right: 15px; }
  .tc .btn-div {
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center; }
    .tc .btn-div a {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      vertical-align: middle;
      background: url("../img/pop-btn.png?__sprite") no-repeat center;
      width: 110px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #1e5d1e;
      font-weight: bold; }

/*# sourceMappingURL=style.css.map */
