@charset "UTF-8";
/**
 * variable.scss
 * @author xxx (工号)
 * @date    yyyy-mm-dd hh:mm:ss
 * @version $Id$
 * @editor xxx (工号)
 */

// 公共变量定义
$c1: #2d9ae5; //蓝色
$c2: #666;  //中灰色
$c3: #999;  //浅灰色
$spr: '../img/mobile/xm_spr.png';